@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100&display=swap');
.flex-container{
    display: flex;
}
.left{
    border:1px;
    border-style: solid;
    border-color: aqua;
    height: 100px;
    width: 100px;
    margin:20px;
    background-color: beige;
    border-radius: 15%;
}

.right{
    border:1px;
    border-style: solid;
    border-color: red;
    height: 100px;
    width: 100px;
    margin:0;
    background-color: blue;
    border-radius: 15%;
}

p{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

img{
    height: 100px;
    width:auto;
}